html {
    background-color: #3C5AA6;
}
#navBar{
    background-color: lightgray;
    font-size: 1.5rem;
}
h1 {
    color: #FFCE01;
    text-align: center;
    font-size: 4.5rem;
}
h2 {
    color: #FFCE01;
    text-align: center;
    font-size: 2.5rem;
}

.card-grid{
    display: flex;
    flex-wrap: wrap;
}

#card-image {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 200px;
    max-height: auto;
}

.extra-info{
    color: #FFCE01;
    font-weight: 600;
    padding-top: .5rem;
    width: 12rem;
    height: 7.5rem;
}
