html {
    background-color: #3C5AA6;
}
#navBar{
    background-color: whitesmoke;
    font-size: 1.5rem;
    font-family: "pixelify-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0.625rem 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin: 0 auto;
}
#navBar a i{
    color:#3C5AA6;
    margin-right: 0.5rem;
}
#aboutButton {
    background-color: whitesmoke;
    font-size: 1.5rem;
    font-family: "pixelify-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0.625rem 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin: 0 auto;
}
#aboutButton a i{
    color:#3C5AA6;
    margin-right: 0.5rem;
}


h1 {
    color: #FFCE01;
    text-align: center;
    font-size: 4.5rem;
    font-family: "hotsy-totsy-mvb", serif;
    font-weight: 900;
    font-style: normal;
}
h2 {
    color: #FFCE01;
    text-align: center;
    font-size: 2.5rem;
    font-family: "hotsy-totsy-mvb", serif;
    font-weight: 900;
    font-style: normal;
}

.card-grid{
    display: flex;
    flex-wrap: wrap;
}

#card-image {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 200px;
    max-height: auto;
}
#single-card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 265px;
    max-height: auto;
}
.extra-info{
    color: #FFCE01;
    font-family: "pixelify-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: .5rem;
    width: 12rem;
    height: 7.5rem;
}
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%; 
    margin: 0 auto;
}
.search-container i{
    position: absolute;
    right: 0.5rem;
    font-size: 1.25rem;
    color: #3C5AA6;
    pointer-events: none;
}
#poke-search {
    font-family: "pixelify-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0.5rem 2rem 0.5rem 0.5rem; 
    font-size: 1rem;
    border-radius: 0.25rem;
    width: 100%;
}
button {
    margin-left: 0.5rem; 
    padding: 1rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    border: none;
    background-color:#FFCE01;
    color: white;
}
label {
    color: #FFCE01;
    font-family: "pixelify-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}
